<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Телефонная книжка</title>
</head>
<body>
<h1>Телефонная книжка</h1>
<a th:href="@{/addPhoneNumber}">Редактировать</a>
<table>
    <tr>
        <th>Id</th>
        <th>Имя</th>
        <th>Номер телефона</th>
        <th>Создано</th>
        <th>Обновлено</th>
    </tr>
    <tr th:each="phoneNumber : ${phoneNumbers}">
        <td th:text="${phoneNumber.id}"></td>
        <td th:text="${phoneNumber.name}"></td>
        <td th:text="${phoneNumber.phoneNumber}"></td>
        <td th:text="${phoneNumber.createdAt}"></td>
        <td th:text="${phoneNumber.updatedAt}"></td>
    </tr>
</table>
</body>
</html>
